.features-list {
  max-height: 0;
  opacity: 0;
  padding: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.features-list.visible {
  max-height: 350px; /* Ajusta según el contenido */
  opacity: 1;
  padding: 10px;
}

.card {
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  max-height: 120px;
  overflow: hidden;
}

.card.expanded {
  max-height: 600px; /* Ajuste dinámico */
  overflow: visible;
}
.carac-container {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 🔥 5 columnas */
  gap: 5px; /* Espaciado entre características */
}
