.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

.search-bar input {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 25px;
    margin: 20px 0;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding-left: 40px;
}

.search-bar .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 18px;
}